body {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    min-height: 100vh; /* Ensure full viewport height */
    margin: 0; /* Remove default margin */
    background-image: url('assets/pexelsBG.jpg');
    background-size: cover;
    height: 800px; /* Adjust the height as needed */
    overflow-y: auto; /* Enable vertical scrollbar when content exceeds viewport height */
  }
  

header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.container {
    background-color: rgba(255, 255, 255, 0.7); /* Adjust the alpha value (0.7 for 70% opacity) */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 120px; /* Adjust the margin to create space for the fixed header */
    padding: 40px; /* Increased padding for a larger container */
    width: 80%; /* Adjust the width as needed */
    max-width: 900px; /* Optional: Set a maximum width for the container */
    margin: auto; /* Center the container horizontally */
  }

.post-title {
    font-size: 3em;
    text-align: left;
    width: 1008px;
    background: linear-gradient(180deg, rgb(44.97, 156.01, 198.17) 0%, rgb(0, 96.98, 133.8) 100%); -webkit-background-clip: text !important;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 700;
    color: transparent;
    letter-spacing: 0;
  }